body{
  margin: 0;
}
h1{
  margin: 0;
  border-bottom: 1px solid gray;
  text-align: center;
  font-size: 45px;
}
h2{
  margin: 0;
}
p{
  margin: 0;
}
ol{
  padding: 0px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
a{
  text-decoration: none;
  color: black;
}
.saw{
  color: gray;
}
#active{
  color: red;
}

ol {
  border-right: 1px solid gray;
  width: 110px;
  padding-top: 20px;
  padding-left: 45px;
  margin: 0;
}
#article{
  padding-left: 25px;
  padding-top: 12px;
}
@media(max-width:800px){
  h1{
      border-bottom: 0px;
  }
  ol {
    border-right: 0px;
  }
  #grid{
    display: block;
  }
}
